:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --lime-green-lighter: hsl(136, 65%, 80%);
    --bright-cyan-lighter: hsl(192, 70%, 80%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);


}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header {
    width: 100%;
    height: 50px;
    padding: 1%;
    display: relative;
}

.header__logo {
    position: absolute;
    left: 5%;
    top: calc(50px * .35);
    width: 150px;
    height: 25px;
}

.header__toggle-btn {
    height: 30px;
    aspect-ratio: 1/1;
    top: calc(50px * .3);
    right: 8%;

    border: none;
    position: absolute;
    
    cursor: pointer;
}

.header__toggle-btn--hamburger {
    background: url("img/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__toggle-btn--x {
    background: url("img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.header-nav {
    display: none;
}

.btn--header {
    display: none;
}

.modal {
    position: fixed;
    top: calc(50px + 7px);
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: hsl(233, 26%, 24%, 0.5);
    overflow: hidden;
}

.modal--inactive {
    display: none;
}

.modal-nav {
    width: 90%;
    height: 250px;
    border-radius: 5px;
    position: relative;
    top: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
}

.modal-nav__list {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.modal-nav__item {
    list-style: none;
}

.modal-nav__link {
    color: var(--dark-blue);
    text-decoration: none;
}
.modal-nav__link a{
    background-color: #6c6c6c;
}

.btn {
    border: none;
    height: 50px;
    width: 175px;
    border-radius: 25px;
    background: var(--bright-cyan);
    background: linear-gradient(117deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
    color: var(--white);
    
    font-size: 0.9rem;
    font-family: "Public Sans", sans-serif;
    cursor: pointer;
}

.btn:hover {
    background: var(--bright-cyan-lighter);
    background: linear-gradient(117deg, var(--lime-green-lighter) 0%, var(--bright-cyan-lighter) 100%);
    position: relative; 
}
.btn:hover::after {
    content: "Request Invite";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(117deg, var(--lime-green-lighter), var(--bright-cyan-lighter));
}


.hero{
     width: 100%;
     margin: 0 , 0 , 5%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     background: url(imag/bg-intro-mobile.svg);
     background-repeat: no-repeat;
     background-size: contain;
     background-position-y:  top -50px;
     overflow: hidden;
}
.hero_img{
    width: 99%;
    margin: 0 1%;
    position: relative;
    top: -140px;
    background: url(img/bg-intro-mobile.svg) no-repeat;
    background-position: center;
    background-size: cover;

}
.hero_text{
padding: 5%; 
margin: -40% 0 0 ;
text-align: center;
width: 70%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.hero_header{
 margin: 0 0 5%; 
 font-size: 2rem;
 color:  hsl(233, 26%, 24%);
 text-align: center;
}



.hero_copy{
    margin: 0 0 10%;
    color: hsl(233, 8%, 62%) ;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: justify;
}


.features{
     width: 80%;
     padding: 15% 10% 10%;
     display: flex;
     flex-direction: column;
     flex-flow: column nowrap;
     justify-content: space-evenly;
     align-items: center;
     background-color: hsl(0, 0%, 98%);

}
.feature__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
}
.features__header{
    margin: 0 0 5%;
    font-size: 2rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.features__copy{
   margin: 0 0 10%;
   font-size: 0.8rem;
   font-weight: 200;
   line-height: 1.25rem;
   color: hsl(233, 8%, 62%);


}

.features-cards{
    min-height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.features-card__header{
    font-size: 1.3rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%) ;
}
.features-card__copy{
    color: hsl(233, 8%, 62%);
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.25rem;
    width: 90%;
}


.articles-section {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
  
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2d314d;
    padding-left: 1.5rem;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.article {
    background: white;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.article:hover {
    transform: translateY(-5px);
}

.article img {
    width: 100%;
}

.article .author,h3,p{
    width: 80%;
    
}
.article .author {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.article  h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #2d314d;
}

.article p {
    font-size: 14px;
    color: #6c6c6c;
}


footer{
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
   background-color: hsl(233, 26%, 24%);
   color: white;

}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px ;
    gap: 15px;
  }
  
  
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .logo img {
    width: 120px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social-icons a img {
    width: 20px;
  }
  
  .footer-links a{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  .footer-links a:hover {
   color:var(--lime-green);
}
  .links-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  
 
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
 .footer-left ,.footer-right ,.footer-links .links-column .logo{
    margin-bottom: 15px;
 }




@media screen and (min-width: 429px) {
.hero_text{ margin: -20% 0 0; }

.features__copy{font-size: 1rem;}
.features-card__header{font-size: 1.5rem;}
.features-card__copy{font-size: 1rem;}
.articles-card__byline{font-size: 0.85rem;}
.articles-card__title{font-size: 1.1rem;}
.articles-card__blurb{font-size: 0.9rem;}

}


@media screen and (min-width: 992px) {
    .header__toggle-btn {
        display: none;
    }

    .modal {
        display: none;
    }

    .header {
        padding: 0;
        height: 90px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .header__logo {
        position: inherit;
        width: 160px;
        margin-top: 2rem;
    }

    .header-nav {
        width: clamp(500px, 50%, 550px);
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        align-self: stretch;
        margin-top: 2rem;
    }

    .header-nav__list {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .header-nav__list-item {
        list-style: none;
        align-self: stretch;
        position: relative;
    }
    
    
    .header-nav__link {
        height: 100%;
        text-decoration: none;
        color: var(--grayish-blue);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    .header-nav__link:hover::before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        
        background: linear-gradient(117deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
    }
    
    .btn {
        scale: 0.9;
    }

    .btn:hover {
        position: relative;
    }
    
    .btn:hover::after {
        content: "Request Invite";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        background: linear-gradient(117deg, var(--lime-green-lighter), var(--bright-cyan-lighter));
    }

    .btn--header {
        display: inline;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }


    .hero {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        background-color: hsl(0, 0%, 98%);
        padding: 5vh 10%;
    }
    
    .hero_img {
        position: relative;
        top: -6rem;
        right: 5rem;
        scale: 1.00;
        background: url(img/bg-intro-desktop.svg) no-repeat;
        background-size:cover;
        background-position: 30% -50px;
        max-width: 50%;
        
    }
    
    .hero_text {
        max-width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 0;
    }
    
    .hero_header {
        font-size: 3rem;
        color: hsl(233, 26%, 24%);
        text-align: left;
        margin-bottom: 1rem;
    }
    
    .hero_copy {
        font-size: 1.1rem;
        color: hsl(233, 8%, 62%);
        line-height: 1.5;
        text-align: left;
        width: 90%;
        margin-bottom: 2rem;
    }
.features{
    width: 90%;
    margin: -15% 0 0;
    padding: 7% 10%;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: hsl(220, 16%, 96%);
}


.feature__content{

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.feature__cards{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.features-cards{
    width: 20%;
    margin: 0 1%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


.features-card__header, .features-card__copy{
    text-align: left;
}
.features-card__copy{
    font-size: 0.9rem; line-height: 1.4rem;
}


.articles-section {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
  
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2d314d;
    padding-left: 1.5rem;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.article {
    background: white;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.article:hover {
    transform: translateY(-5px);
}

.article img {
    width: 100%;
}

.article .author,h3,p{
    width: 80%;
    
}
.article .author {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.article  h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #2d314d;
}

.article p {
    font-size: 14px;
    color: #6c6c6c;
}
footer{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
   background-color: hsl(233, 26%, 24%);
   color: white;
   width: 100%;
}
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px ;
    gap: 5rem;
  }
  
  .footer-left , .footer-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
   width: 30%;
   gap: 13rem;
  }
  
  .logo img {
    width: 120px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social-icons a img {
    width: 20px;
  }
  
  /* ضبط الروابط */
  .footer-links {
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 30%;
  }
  
  .links-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  


}